
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .header {
    margin-top: 1px;
  }
  
  .content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    margin-top: 20px;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form-section {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      height: auto;
    }
    .image-section img {
      height: 300px;
    }
  }